* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
body{
    background-color: #ebf2ff;
    font-family: 'Merriweather', serif;
}
.button_primary{
    color: #fff;
    background-image: linear-gradient(#ff512f 0% , #dd2476 51%, #ff512f 100%);
    border: none;
    border-radius: 6px;
    padding: 16px;
    cursor: pointer;

}
.container{
    max-width: 100% ;
    padding: 0px 20px;
    margin: 0px auto;
}
.hero_container{
    padding: 20px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #fff;
  
}

.navbar_brand{
width: 100px;

}
.navbar_logo{
    width: 100%;
   
}
.nav_item{
    color: #fff;
    background-image: linear-gradient(#ff512f 0% , #dd2476 51%, #ff512f 100%);
    border: none;
    border-radius: 6px;
    padding: 12px;
    cursor: pointer;
}

.nav_item:hover{
    border: solid #436ab4 3px;
}


.hero_container_image{
    width:100%;
}
.hero_image{
width: 100%;
border-radius: 9px;
box-shadow: 0 25px 50px -25px rgba(0, 0,0, 0.25);
}

.hero_text{
    font-size: 30px;
    margin: 20px 0px;
}
.explore_menu_text{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.food_card_image_container{
    width:100%;
}
.food_image{
    width:100%;
    border-radius: 8px  8px 0 0;
}
.food_card{
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
}
.food_card_description{
    padding: 10px;
}
.explore_menu_view_more{
    display: flex;
    justify-content: center;
}
/*   flexxx    */

.restaurant_text{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.restaurant_image_container{
    width:100%;
}

.restaurant_image_row_1 ,
.restaurant_image_row_2{
    width: 100%;
    display:flex;
    gap: 5px;
}
.restaurant_image_row_1 {
    align-items: baseline;
    margin-bottom: 4px;
    
}
.restaurant_image_1 , 
.restaurant_image_4{
    width: 100%;
    height: 200px;
    
}
.restaurant_image_2, 
.restaurant_image_3{
    width: 120%;
    height: 250px;
}

.restaurant__1, 
.restaurant__2, 
.restaurant__3, 
.restaurant__4{
width: 100%;
height: 100%;
border-radius:8px;
}


.stay_updated_text{
    color: rgb(22, 22, 54);
   margin-top: 50px;
}
.email{
    background-color: rgb(245, 209, 209);
    border: rgb(221, 127, 146) solid 2px;
    padding: 8px;
    font-size: 15px;
    width: 100%;
    height: 100%;
}
.stay_updated_boxes{
    height: 35px;
    width: 360px;
    
}
.stay_updated_get_updates{
    display: flex;
    gap:8px;
   align-items: center;
    margin-top:30px ;
}
.quote_and_text{
    margin-top: 50px;
 position: relative;
 
}
.quote_container_picture{
    width: 100%;
    position:absolute;
   z-index: -3;
}
.quote_picture{
    max-width: 100%; 
    border-radius: 6px; 
}
.quote{
    text-align: center;
    color: #fff;
    padding: 20px;
   }

   /*footer   */

 .zomato_footer{
 margin-top: 30px;
 }  

.footer_background{
    background-image:  linear-gradient(#ff512f 0% , #dd2476 51%, #ff512f 100%);
    width: 100%;
    border-radius: 6px;
   
}
.zomato_image_and_text{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
    
}
.zomato_image_footer{
    margin-left: 15px;
    width: 100%;
   
}
.footer_text{
    color: #fff;
    text-align: center;
}


@media (min-width:768px){
    .navbar{
        justify-content: space-between;
        padding: 2px 30px;
    }
    .hero_container{
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;   
    }
    .explore_menu_lists{
        display: flex;
        gap: 15px ;
        padding: 0 30px;
    }
    #pizza_card{
        margin-top: -20px;
        margin-bottom: 35px;
    }
    .explore_menu_container{
        position: relative;
    }
    .explore_menu_gradient_bg{
        position: absolute;
        background-image: linear-gradient(#ff512f 0% , #dd2476 51%, #ff512f 100%);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -3;
        transform: skewY(-4deg)
    }
    .explore_menu_container{
        margin-top: 50px;
    }
    .restaurant_container{
        margin-top: 100px;
    }
   
    
    .restaurant_container{
        display: flex;
        align-items: center;
        margin-top: 70px;
    }
    .restaurant_text{
        width: 100%;
        font-size:40px;
    
     }
     .stay_updated_text{
        text-align: center;
        font-size: 50px;
    }
    .stay_updated_get_updates{
        justify-content: center;
        }
     .quote_container_picture{
     width: 100%;
     
     }
     .quote_picture{
         width: 100%;
     }
     .quote{
        font-size: 25px;
        padding:90px;
    }
     .zomato_footer{
         margin-top: 50px;
     }
     .zomato_image_and_text{
         gap: 200px;
         padding: 30px;
     }
     
@media (min-width:1020px){
    .container{
        max-width: 900px;
       
    }
    .navbar_brand{
        width: 150px;
    }
    .button_primary{
        padding: 20px;
        font-size: 20px;
    }
    .hero_description{
        width: 100%;
    }
    .hero_text{
        font-size: 50px;
    }
    .explore_menu_container{
        margin-top: 100px;
    }
    .explore_menu_lists{
        gap: 40px;
    }
    .explore_menu_text{
        font-size: 30px;
    }
    .restaurant_container{
        margin-top: 100px;
    }
    .stay_updated_get_updates{
    justify-content: center;
    }
    .stay_updated_text{
        text-align: center;
        font-size: 50px;
    }
    .quote{
        font-size: 50px;
        padding:150px;
    }
    .footer_text{
        font-size: 30px;
    }
    .zomato_image_and_text{
        gap: 450px;
        padding: 60px;
    }

}
@media (min-width:1400px){
  
    .container {
        max-width:1250px;
    }
}
